NativeTraining.xcodeproj/xcuserdata/xuanduy97.xcuserdatad/xcschemes/xcschememanagement.plist
NativeTraining.xcworkspace/contents.xcworkspacedata
NativeTraining.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
NativeTraining.xcworkspace/xcuserdata/xuanduy97.xcuserdatad/UserInterfaceState.xcuserstate
Pods/Manifest.lock
Pods/*

